body{
	
	
}

h1{
	font-family: Verdana, Geneva, Arial, sans-serif;
}


*.header{


	border-bottom: 1px double;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
}

*.footer{

	position: absolute;
	top: 1000px;
	left: 15px;
	clear: both;
	width: 1007px;
	border-top: 1px double;

}

table {

	width: 50%;
	border: 1px solid black;
	text-align: center;
	
}

td {

	font-family: Arial, Times, Serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

*.buttons{
  text-align: center;

}