/* React Defaults */
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}
a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#name {
  text-align: center;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*li a:hover {
  
}*/
/* Main Component */
.main {
  background-image: url("https://i.imgur.com/Umw1R5m.jpg");
  height: 105vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.startComp {
}
/* Start Component */
.start {
  text-align: center;
  
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 300px; /*whatever width you want*/
  color: #fff;
  
}
.cool {
  background-color: Transparent;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 60px 9px 60px;
  border: solid #ffffff 1px;
  text-decoration: none;
}
  
.cool:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
}
h2 {
  font-family: Palantino;
  font-weight: 10;
}
h4 {
  font-family: Palantino;
  font-weight: 10;
}

/* Illness Component */
label {
  font-weight: 10;
  font-size: 10px;
  font-family: Arial;
}
select {
  position: relative;
  font-family: Arial;
  font-size: 14px;
  background-color: transparent;
  width: 100px;
  height: 30px;
  color: black;
}
option {
  font-size: 50px;
}
.ill {
  margin: auto;
  padding: 5px;
  text-align: center;
}
